.container{
    display: flex;
    width: 700px;
    height: 170px;
    border: 1px solid black;
}
.left_side{
    width: 30%;
    height: 100%;
    background-color: red;
    border-right: 1px solid black;  
}
.right_side{
    width: 70%;
}
/*--------HEDER--------*/
.top{
    display: flex;
    height: 15%;
    width: 100%;  
}
.head_left{
    width: 50%;
    background-color: blue;
    border-right: 1px solid black;
}
.head_right{
    width: 50%;
    background-color: green;
}
/*-----------MAIN-----------*/
.center{
    height: 70%;
    width: 100%;
    background-color: purple;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
/*----------FOOTER----------*/
.bottom{
    display: flex;
    height: 13.8%;
    width: 100%;
    box-sizing: border-box;   
}
.foot_left{
    width: 50%;
    background-color: rgb(181, 111, 37);
    border-right: 1px solid black;    
}
.foot_right{
    width: 50%;
    background-color:khaki;
}